<main role="main" class="container">
  <% show_flash? = map_size(@flash) > 0 %>
  <p
    :if={show_flash?}
    class="alert alert-info"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"
  >
    <%= get(@flash, :info) %>
  </p>

  <p
    :if={show_flash?}
    class="alert alert-danger"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"
  >
    <%= get(@flash, :error) %>
  </p>

  <%= @inner_content %>
</main>
