<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {csrf_meta_tag()}
    <.live_title suffix=" · SupplyChain Edition">
      {assigns[:page_title] || "Quadblockquiz: "}
    </.live_title>
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/app_tailwind.css")}
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app_tailwind.js")}
    >
    </script>
  </head>
  <body>
    <header>
      <section class="container mx-auto px-4">
        <div class="flex flex-row">
          <div class="basis-1/2">
            <a>
              <img
                class="object-contain h-32"
                src={Routes.static_path(@conn, "/images/quad-block-logo.png")}
                alt="game Logo"
              />
            </a>
          </div>
          <div class="basis-1/2">
            <a href="https://supplychainsandbox.org/">
              <img
                class="object-scale-down h-32"
                src={Routes.static_path(@conn, "/images/scs-logo.png")}
                alt="supplychainsandbox Logo"
              />
            </a>
          </div>
        </div>
        <h1 class="heading-1 visible xs:invisible md:visible">
          Quadblockquiz <span class="text-sm">Supply Chain Edition</span>
        </h1>
      </section>
      {render(QuadblockquizWeb.LayoutView, "navbar_tailwind.html", assigns)}
    </header>
    <div class="container mx-auto px-4 md:px-20 pb-20">
      <div class="font-sans">{@inner_content}</div>
    </div>
  </body>
</html>
