<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {csrf_meta_tag()}
    <.live_title suffix=" · SupplyChain Edition">
      {assigns[:page_title] || "Quadblockquiz: "}
    </.live_title>
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/app_tailwind.css")}
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app_tailwind.js")}
    >
    </script>
  </head>
  <body>
    <div>
      {render(QuadblockquizWeb.LayoutView, "navbar_tailwind.html", assigns)}
      <div class="container mx-auto px-4 md:px-20 pb-20">
        {@inner_content}
      </div>
    </div>

    <footer>
      <div class="h-64 bg-slate-100">
        <div class="h-64 container mx-auto grid grid-flow-col  gap-4 place-items-center ">
          <a href="https://peraton.com/" class="phx-logo">
            <img
              src={Routes.static_path(@conn, "/images/Peraton.jpeg")}
              alt="Peraton Logo"
              class="max-h-32"
            />
          </a>
          <a href="https://cyware.com/" class="phx-logo">
            <img
              src={Routes.static_path(@conn, "/images/cyware_logo.png")}
              alt="Cyware Logo"
              class="max-h-32"
            />
          </a>
          <a href="https://opencybersecurityalliance.org/" class="phx-logo">
            <img
              src={Routes.static_path(@conn, "/images/oca.jpeg")}
              alt="OCA Logo"
              class="max-h-32"
            />
          </a>
          <a href="https://sfractal.com/" class="phx-logo">
            <img
              src={Routes.static_path(@conn, "/images/sFractalConsulting.png")}
              alt="sFractal Logo"
              class="max-h-32"
            />
          </a>
          <a href="https://podiihq.com/" class="phx-logo">
            <img
              src={Routes.static_path(@conn, "/images/podiilogo.png")}
              alt="Podii Logo"
              class="max-h-32"
            />
          </a>
          <a href="https://briarcutter.com/" class="phx-logo">
            <img
              src={Routes.static_path(@conn, "/images/Briar Cutter Final PNG@2x.png")}
              alt="Briar Cutter Logo"
              class="max-h-32"
            />
          </a>
          <a href="https://grox.io/" class="phx-logo">
            <img
              src={Routes.static_path(@conn, "/images/groxio.png")}
              alt="Grox.io Logo"
              class="max-h-32"
            />
          </a>
        </div>
      </div>
      <div class="grid grid-cols-3 md:ml-20 text-[#0069D9] md:w-[64rem] mt-6">
        <div class="w-48"><a href="/">Home</a></div>
        <div class="w-48"><a href={Routes.page_path(@conn, :how_to_play)}>How to Play</a></div>
        <div class="w-48">
          <a href={Routes.live_path(QuadblockquizWeb.Endpoint, QuadblockquizWeb.LeaderboardLive)}>
            Leader board
          </a>
        </div>
        <div class="w-48">
          <a href={Routes.contests_path(QuadblockquizWeb.Endpoint, :index)}>Contests</a>
        </div>
        <div class="w-48">
          <a href={Routes.live_path(QuadblockquizWeb.Endpoint, QuadblockquizWeb.ContestPrizes)}>
            Contest prizes
          </a>
        </div>
        <div class="w-48">
          <a href={Routes.live_path(QuadblockquizWeb.Endpoint, QuadblockquizWeb.ContestRules)}>
            Contest rules
          </a>
        </div>
        <div class="w-48">
          <a href={Routes.live_path(QuadblockquizWeb.Endpoint, QuadblockquizWeb.CourseLive)}>
            Courses
          </a>
        </div>
        <div class="w-48">
          <a href={
            Routes.live_path(QuadblockquizWeb.Endpoint, QuadblockquizWeb.TermsOfServiceLive)
          }>
            Terms Of Service
          </a>
        </div>
        <div class="w-48">
          <a href={Routes.live_path(QuadblockquizWeb.Endpoint, QuadblockquizWeb.PrivacyLive)}>
            Privacy
          </a>
        </div>
        <div class="w-48"><a href={Routes.page_path(@conn, :sbom)}>SBOM</a></div>
      </div>
      <p class="text-center text-neutral-400">© 2022 All rights reserved</p>
    </footer>
  </body>
</html>
