<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "QuadBlocksQuiz", suffix: " · SupplyChain Edition" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <a href="https://sfractal.com/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/scs-logo-white-171292a0c38ccae05c9345204dbba45f.png") %>" alt="sFractal Logo" />
        </a>
        <H1>QuadBlocksQuiz</H1>
        <H3>Supply Chain Edition</H3>
      </section>
      <nav role="navigation">
        <ul class="nav">
         <li><a href="/">Home</a></li>
         <li><a href= <%= Routes.live_path(QuadquizaminosWeb.Endpoint, QuadquizaminosWeb.LeaderboardLive) %> >Leaderboard</a></li>
         <li><a href= <%= Routes.live_path(QuadquizaminosWeb.Endpoint, QuadquizaminosWeb.TermsOfServiceLive) %> > Terms Of Service </a></li>
         <li><a href= <%= Routes.live_path(QuadquizaminosWeb.Endpoint, QuadquizaminosWeb.PrivacyLive) %> > Privacy </a></li>
        <%= if @current_user do %>
        <%= link "Logout", to: Routes.auth_path(QuadquizaminosWeb.Endpoint, :delete), method: "delete", class: "button logout"%>
        <%= if Quadquizaminos.Accounts.user_has_role?(@current_user, ["admin"]) and Mix.env() == :prod do %>
        <li><a href="/dashboard">Live Dashboard</a></li>
        <% end %>
        <%= if Quadquizaminos.Accounts.user_has_role?(@current_user, ["admin"]) do %>
        <li><a href="/admin/login_levels">Login levels</a></li>
        <% end %>
      <% end %>
    </ul>
  </nav>
    </header>
    <%= @inner_content %>
  <footer>
  <table>
  <tr>
    <td>
      <a href="https://sfractal.com/" class="phx-logo">
        <img src="<%= Routes.static_path(@conn, "/images/sFractalConsulting.png") %>" alt="sFractal Logo" />
      </a>
    </td>
    <td>
      <a href="https://podiihq.com/" class="phx-logo">
        <img src="<%= Routes.static_path(@conn, "/images/podiilogo.png") %>" alt="Podii Logo" />
      </a>
    </td>
    <td>
      <a href="https://google.com/" class="phx-logo">
        <img src="<%= Routes.static_path(@conn, "/images/google2.0.0.jpg") %>" alt="Google Logo" />
      </a>
    </td>
    <td>
      <a href="https://grox.io/" class="phx-logo">
        <img src="<%= Routes.static_path(@conn, "/images/groxio.png") %>" alt="Grox.io Logo" />
      </a>
    </td>
    <td>
      <a href="https://briarcutter.com/" class="phx-logo">
        <img src="<%= Routes.static_path(@conn, "/images/Briar Cutter Final PNG@2x.png") %>" alt="Briar Cutter Logo" />
      </a>
    </td>
</tr>
<table>
</footer>
  </body>
</html>
