<section class="phx-hero">
  <h1>QuadBlocksQuiz</h1>
  <h3>Supply Chain Village Edition</h3>
  <h4>Version <%= Quadquizaminos.Meta.version() %></h4>
  <h4><a href="bom.json" target="_blank">SBOM available here</a></h4>

<%= link "Play Game", to: Routes.tetris_path(QuadquizaminosWeb.Endpoint, :tetris), class: "button" %>
<br/>
<%= link "How to play", to: Routes.tetris_path(QuadquizaminosWeb.Endpoint, :instructions), class: "button" %>
<br>